In [49]:
import pandas as pd
import numpy as np
import os
# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)
import keras
import tensorflow as tf
from tensorflow.keras import layers

In [50]:
data_train = pd.read_csv("data.csv")
data_train.head()

,day,month,year,first,3digit,last_2digit_top,first_3digit_1,first_3digit_2,last_3digit_1,last_3digit_2,last_2digit_down
0,16,7,2559,449764,764,64,552,734,158,925,55
1,1,7,2559,82460,460,60,169,609,173,302,53
2,16,6,2559,73816,816,16,251,804,321,749,79
3,1,6,2559,511825,825,25,111,775,880,937,14
4,16,5,2559,141737,737,37,382,975,87,268,98

In [51]:
cslo = data_train.copy()
cslo_labels = cslo.pop("first")

In [52]:
cslo = np.array(cslo)
cslo

array([[  16,    7, 2559, ...,  158,  925,   55],
       [   1,    7, 2559, ...,  173,  302,   53],
       [  16,    6, 2559, ...,  321,  749,   79],
       ...,
       [  16,    2, 2549, ...,  135,  280,   66],
       [   1,    2, 2549, ...,  149,  384,   87],
       [  16,    1, 2549, ...,  789,  965,   79]], dtype=int64)

In [53]:
cslo_model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])
normalize = layers.Normalization()
normalize.adapt(cslo)
cslo_model.compile(loss = tf.losses.MeanSquaredError(),
                      optimizer = tf.optimizers.Adam())

In [54]:
cslo_model.fit(cslo, cslo_labels, epochs=30)

Epoch 1/30
8/8 [==============================] - 0s 1ms/step - loss: 310013460480.0000
Epoch 2/30
8/8 [==============================] - 0s 1ms/step - loss: 309398470656.0000
Epoch 3/30
8/8 [==============================] - 0s 1ms/step - loss: 308784529408.0000
Epoch 4/30
8/8 [==============================] - 0s 1ms/step - loss: 308153352192.0000
Epoch 5/30
8/8 [==============================] - 0s 1ms/step - loss: 307485310976.0000
Epoch 6/30
8/8 [==============================] - 0s 1ms/step - loss: 306800492544.0000
Epoch 7/30
8/8 [==============================] - 0s 1ms/step - loss: 306062458880.0000
Epoch 8/30
8/8 [==============================] - 0s 1ms/step - loss: 305276944384.0000
Epoch 9/30
8/8 [==============================] - 0s 1ms/step - loss: 304462987264.0000
Epoch 10/30
8/8 [==============================] - 0s 1ms/step - loss: 303577137152.0000
Epoch 11/30
8/8 [==============================] - 0s 1ms/step - loss: 302639841280.0000
Epoch 12/30
8/8 [==============================] - 0s 1ms/step - loss: 301628293120.0000
Epoch 13/30
8/8 [==============================] - 0s 1ms/step - loss: 300544327680.0000
Epoch 14/30
8/8 [==============================] - 0s 1ms/step - loss: 299416977408.0000
Epoch 15/30
8/8 [==============================] - 0s 1ms/step - loss: 298219307008.0000
Epoch 16/30
8/8 [==============================] - 0s 1ms/step - loss: 296942108672.0000
Epoch 17/30
8/8 [==============================] - 0s 1ms/step - loss: 295587807232.0000
Epoch 18/30
8/8 [==============================] - 0s 1ms/step - loss: 294154010624.0000
Epoch 19/30
8/8 [==============================] - 0s 1ms/step - loss: 292674863104.0000
Epoch 20/30
8/8 [==============================] - 0s 1ms/step - loss: 291098492928.0000
Epoch 21/30
8/8 [==============================] - 0s 2ms/step - loss: 289443610624.0000
Epoch 22/30
8/8 [==============================] - 0s 1ms/step - loss: 287703760896.0000
Epoch 23/30
8/8 [==============================] - 0s 1ms/step - loss: 285903224832.0000
Epoch 24/30
8/8 [==============================] - 0s 1ms/step - loss: 284008448000.0000
Epoch 25/30
8/8 [==============================] - 0s 1ms/step - loss: 282051510272.0000
Epoch 26/30
8/8 [==============================] - 0s 1ms/step - loss: 280044273664.0000
Epoch 27/30
8/8 [==============================] - 0s 1ms/step - loss: 277869166592.0000
Epoch 28/30
8/8 [==============================] - 0s 1ms/step - loss: 275720798208.0000
Epoch 29/30
8/8 [==============================] - 0s 1ms/step - loss: 273438408704.0000
Epoch 30/30
8/8 [==============================] - 0s 1ms/step - loss: 271084748800.0000

In [55]:
# Save the trained model
cslo_model.save("cslo_model.h5")
model_file = "cslo_model.h5"
if os.path.exists(model_file):
    print(f"The model {model_file} has been saved successfully.")
else:
    print(f"Failed to save the model.")

The model cslo_model.h5 has been saved successfully.