In [2]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
# Load your dataset
data_train = pd.read_csv("data.csv")
data_train.head()

,day,month,year,first,3digit,last_2digit_top,first_3digit_1,first_3digit_2,last_3digit_1,last_3digit_2,last_2digit_down
0,16,7,2559,449764,764,64,552,734,158,925,55
1,1,7,2559,82460,460,60,169,609,173,302,53
2,16,6,2559,73816,816,16,251,804,321,749,79
3,1,6,2559,511825,825,25,111,775,880,937,14
4,16,5,2559,141737,737,37,382,975,87,268,98

In [4]:
main_train = data_train["first"]
day = list(zip(data_train['day'],data_train['month'],data_train['year']))

In [13]:
def perdictLotto(d,m,y,data1,data2):
    model = LinearRegression()
    model.fit(data1,data2)
    predict = model.predict([[d,m,y]])
    return predict[0]
iD = int(input("Day: "))
iM = int(input("Month: "))
iY = int(input("Year: "))
print("\nFirst: %06d" % perdictLotto(iD, iM, iY, day,main_train))

print("corrent ?")

Day: 1
Month: 4
Year: 2024

First: 913426
corrent ?